@import 'var';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin-ext');
* {
  box-sizing: border-box;
}

html, body, #app {
  font-family: 'Ubuntu', sans-serif;
  background: $superlite;
  color: $text;
  height: 100%;
}


.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@import 'index';
@import 'carte';